body {
	background-color: #f8f8f8;
}

.upper {
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: capitalize;
	text-align: center;
}

.color_dark {
	color: #2d3a35;
	letter-spacing: 2px;
	font-family: Arial, sans-serif;
}

.big {
	font-size: 300%;
	font-weight: 900;
}

.small {
	font-weight: 900;
	font-size: 15px;
	margin-top: 25px;
}

#counter {
	font-size: 1000%;
	font-weight: 900;
	font-family: Arial, sans-serif;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #c20a72;
	text-shadow: 3px 4px 0px #790647;
}

button {
	width: 250px;
	height: 70px;
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	outline: none;
	margin-top: 20px;
	background-color: #066;
	box-shadow: 0px 3px 0px #006;
	border: 0 none;
}

button:hover {
	cursor: pointer;
}


button:active {
	box-shadow: -2px -3px 0 #006;
	background-color: #003;
}

span {
	font-family: Arial, sans-serif;
	font-size: 25px;
	letter-spacing: 7px;
	font-weight: 900;
	color: #fefcff;
	text-shadow: -1px -2px 0 #202020;
}

footer {
	float: right;
}

footer a:first-child {
	font-size: 20px;
	text-decoration: none;
	margin-right: 20px;
	font-weight: 700;
	font-family: Arial, sans-serif;
	color: #c20a72;
}

footer a:first-child:visited {
	color: #c20a72;
}

footer a:first-child:hover {
	color: #600;
}

#mail {
	width: 25px;
}